In [2]:
import numpy as np
import pandas as pd

path = '/home/lucas/Área de Trabalho/Curso Análise de Dados/26-08-2024_NEGOCIOSAVISTA.csv'


data = pd.read_csv(path,sep=';')

data.head()

,DataReferencia,CodigoInstrumento,AcaoAtualizacao,PrecoNegocio,QuantidadeNegociada,HoraFechamento,CodigoIdentificadorNegocio,TipoSessaoPregao,DataNegocio,CodigoParticipanteComprador,CodigoParticipanteVendedor
0,2024-08-26,TF583R,0,"10,000",10000,30328170,10,1,2024-08-26,100.0,100.0
1,2024-08-26,CCMX24,0,"63,000",1,90000023,170,1,2024-08-26,NaN,NaN
2,2024-08-26,CCMX24,0,"63,000",1,90000023,180,1,2024-08-26,NaN,NaN
3,2024-08-26,CCMX24,0,"63,000",2,90000023,190,1,2024-08-26,NaN,NaN
4,2024-08-26,BGIU24,0,"243,000",10,90000073,60,1,2024-08-26,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8281631 entries, 0 to 8281630
Data columns (total 11 columns):
 #   Column                       Dtype
---  ------                       -----
 0   DataReferencia               object
 1   CodigoInstrumento            object
 2   AcaoAtualizacao              int64
 3   PrecoNegocio                 object
 4   QuantidadeNegociada          int64
 5   HoraFechamento               int64
 6   CodigoIdentificadorNegocio   int64
 7   TipoSessaoPregao             int64
 8   DataNegocio                  object
 9   CodigoParticipanteComprador  float64
 10  CodigoParticipanteVendedor   float64
dtypes: float64(2), int64(5), object(4)
memory usage: 695.0+ MB

In [ ]:
data.plot(kind='scatter', x='QuantidadeNegociada',y='PrecoNegocio', alpha=0.1)